:root {
    --font-small: 0.8rem;
    --font-medium: 1rem;
    --font-large: 1.2rem;
    --font-family: sans-serif;
}

:root.light {
    --background-color: #ffffff;
    --text-color: #2c3e50;
    --accent-primary-color: #00b49d;
    --accent-secondary-color: #176087;
    --disabled-color: #80808033;
    --shadow-color: gray;
    --border-color: lightgray;
    --panel-background-color: #47425e;
    --error-color: #ff7878;
}

:root.dark {
    --background-color: #373250;
    --text-color: #dedede;
    --accent-primary-color: #00b49d;
    --accent-secondary-color: #176087;
    --disabled-color: #80808033;
    --shadow-color: gray;
    --border-color: darkgray;
    --panel-background-color: #47425e;
    --error-color: #ff7878;
}

html {
    font-size: 16px;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    height: 100vh;
    height: 100dvh;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--text-color);
    transition: color 0.5s;

    &:hover {
        color: var(--accent-primary-color);
    }
}

h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: var(--font-large);
}

h2,
h3,
h4 {
    font-size: var(--font-medium);
}

input[type=text],
input[type=password],
input[type=email],
input[type=number],
input[type=checkbox],
input[type=url],
textarea,
select {
    color: var(--text-color);
    padding: 0.2rem 0.6rem;
    border-radius: 0.5rem;
    border: 1px solid var(--border-color);
    background-color: var(--background-color);
    transition: all 0.1s;
    font-size: var(--font-medium);
    font-family: var(--font-family);

    &:hover,
    &:focus {
        border-color: var(--accent-primary-color);
        box-shadow: 0 0 5px var(--accent-primary-color);
        outline: none;
    }
}

input:disabled,
input:read-only {
    background-color: var(--disabled-color);
}

input[type=submit],
input[type=file],
button {
    color: var(--text-color);
    background-color: var(--background-color);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--border-color);
    transition: all 0.1s;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-family: var(--font-family);
    font-weight: bold;

    &:hover {
        background-color: var(--accent-primary-color);
        border-color: transparent;
        color: var(--background-color);
        box-shadow: 0 0 5px var(--accent-primary-color);
    }

    &:active {
        color: var(--text-color);
    }

    &:disabled {
        cursor: not-allowed;
        background-color: var(--disabled-color);
    }
}

.hidden {
    display: none !important;
}

.spinner {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background:
        radial-gradient(farthest-side, var(--accent-primary-color) 94%, #0000) top/6px 6px no-repeat,
        conic-gradient(#0000 30%, var(--accent-primary-color));
    mask: radial-gradient(farthest-side, #0000 calc(100% - 6px), #000 0);
    animation: spinner-frames 1s infinite linear;
}

@keyframes spinner-frames {
    100% {
        transform: rotate(1turn);
    }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.panel {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
    border-radius: 1rem;
    background-color: var(--panel-background-color);
    padding: 2rem 3rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
