<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AIRe Invitation</title>
    <style>
        body {
            font-family: sans-serif;
        }

        code {
            display: block;
            font-size: x-large;
            border: 1px solid;
            padding: 1rem;
            margin: 1rem;
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>AIRe Invitation</h1>
    <p>Hello, you have been selected for participation in AIRe trial.</p>
    <p>Click the link below to chat with AIRe. You may also sign up later.</p>
    <a href="{{url}}">Click here to chat</a>
    <p>
        Best regards,<br />
        <br />
        the AIRe Team
    </p>
    <p>
        <small>
            <a href="https://talk.aire.fi/about/tos?lang=en">Terms of Service</a><br />
            <a href="https://talk.aire.fi/about/privacy?lang=en">Privacy Policy</a>
        </small>
    </p>
</body>

</html>