<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Invitation to AIRe Talk</title>
    <style>
        body {
            font-family: sans-serif;
        }

        code {
            display: block;
            font-size: x-large;
            border: 1px solid;
            padding: 1rem;
            margin: 1rem;
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>Invitation to AIRe Talk</h1>
    <p>Hello,</p>
    <p>
        Welcome to AIRe Talk, an AI-assisted service designed to support your rehabilitation needs.
    </p>
    <p>
        Depending on your invitation, you may either have trial access to AIRe Talk or the opportunity to register as a full user with additional features.
    </p>
    <p>
        Click the link below to start using AIRe Talk.
    </p>
    <a href="{{url}}">Click here to chat</a>
    <p>
        Best regards,<br />
        the AIRe Team
    </p>
    <p>
        <small>
            <a href="https://talk.aire.fi/about/tos?lang=en">Terms of Service</a><br />
            <a href="https://talk.aire.fi/about/privacy?lang=en">Privacy Policy</a>
        </small>
    </p>
</body>

</html>