<!DOCTYPE html>
<html>
<head>
<style>
    body {
        font-family: sans-serif;
    }

    code {
        display: block;
        font-size: x-large;
        border: 1px solid;
        padding: 1rem;
        margin: 1rem;
        text-align: center;
    }
</style>
</head>
<body>
    <h1>AIRe Account Recovery</h1>
    <p>Here's the code to recover your account:</p>
    <code>{{code}}</code>
    <p>
        If you did not request to recover your account, please ignore this message.
    </p>
    <p>
        Best regards,<br />
        <br />
        AIRe Development Team
    </p>
</body>
</html>
