<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AIRe Account Recovery</title>
    <style>
        body {
            font-family: sans-serif;
        }

        code {
            display: block;
            font-size: x-large;
            border: 1px solid;
            padding: 1rem;
            margin: 1rem;
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>Welcome to the AIRe Development Platform</h1>
    <p>Here's the verification code to activate your account:</p>
    <code>{{code}}</code>
    <p>
        Enter it while logging in for the first time.
        <br /><br />
        Please note, that the code will expire after an hour.
        You can request a new verification code when logging in.
        <br /><br />
        Have fun!
    </p>
    <p>
        Best regards,<br />
        <br />
        the AIRe Team
    </p>
    <p>
        <small>
            <a href="https://talk.aire.fi/about/tos?lang=en">Terms of Service</a><br />
            <a href="https://talk.aire.fi/about/privacy?lang=en">Privacy Policy</a>
        </small>
    </p>
</body>

</html>