<!DOCTYPE html>
<html lang="fi">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kutsu AIRe Talk -palveluun</title>
    <style>
        body {
            font-family: sans-serif;
        }

        code {
            display: block;
            font-size: x-large;
            border: 1px solid;
            padding: 1rem;
            margin: 1rem;
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>Kutsu AIRe Talk -palveluun</h1>
    <p>Hei!</p>
    <p>
        Tervetuloa käyttämään AIRe Talkia, tekoälyavusteista palvelua, joka on suunniteltu tukemaan kuntoutustarpeitasi.
    </p>
    <p>
        Kutsustasi riippuen sinulla on joko kokeilukäyttöoikeus AIRe Talkiin tai mahdollisuus rekisteröityä palvelun käyttäjäksi, jolloin saat käyttöösi lisäominaisuuksia.
    </p>
    <p>
        Aloita AIRe Talkin käyttö napsauttamalla alla olevaa linkkiä.
    </p>
    <a href="{{url}}">Aloita keskustelu</a>
    <p>
        Ystävällisin terveisin,<br />
        AIRe-tiimi
    </p>
    <p>
        <small>
            <a href="https://talk.aire.fi/about/tos?lang=fi">Käyttöehdot</a><br />
            <a href="https://talk.aire.fi/about/privacy?lang=fi">Tietosuojaseloste</a>
        </small>
    </p>
</body>

</html>