<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inbjudan till tjänsten AIRe Talk</title>
    <style>
        body {
            font-family: sans-serif;
        }

        code {
            display: block;
            font-size: x-large;
            border: 1px solid;
            padding: 1rem;
            margin: 1rem;
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>Inbjudan till tjänsten AIRe Talk</h1>
    <p>Hej!</p>
    <p>V
        älkommen att använda AIRe Talk, en AI-stödd tjänst som är utformad för att stödja dina rehabiliteringsbehov.
    </p>
    <p>
        Beroende på din inbjudan har du antingen tillgång till AIRe Talk på prov eller möjlighet att registrera dig som användare av tjänsten, vilket ger dig tillgång till ytterligare funktioner.
    </p>
    <p>
        Börja använda AIRe Talk genom att klicka på länken nedan.
    </p>
    <a href="{{url}}">Starta en konversation</a>
    <p>
        Med vänliga hälsningar,<br />
        AIRe-teamet
    </p>
    <p>
        <small>
            <a href="https://talk.aire.fi/about/tos?lang=sv">Användarvillkor</a><br />
            <a href="https://talk.aire.fi/about/privacy?lang=sv">Integritetspolicy</a>
        </small>
    </p>
</body>

</html>