/*
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/

@font-face {
  font-family: "Sofia Pro";
  font-weight: 400;
  font-style: normal;
  src: url("/assets/Sofia_Pro_Light.woff2") format("woff2"),
    url("/assets/Sofia_Pro_Light.woff") format("woff"),
    url("/assets/Sofia_Pro_Light.ttf") format("truetype");
}

:root {
  --font-small: 0.8rem;
  --font-medium: 1rem;
  --font-large: 1.2rem;
  --font-family: "Sofia Pro", sans-serif;
  --border-radius: 0.2rem;
  --text-color-light: #dedede;
  --text-color-dark: #2c3e50;
  --button-text-color-light: #ffffff;
  --button-text-color-dark: #ffffff;
}

:root.light-mode {
  --background-color: #ffffff;
  --text-color: #2c3e50;
  --button-text-color: #ffffff;
  --accent-primary-color: #176087;
  --accent-secondary-color: #176087;
  --hover-link-text: #176087;
  --hover-text:  #E3FFFA;
  --disabled-color: #80808033;
  --shadow-color: #393939;
  --border-color: #dedede;
  --panel-background-color: #f8f8f8;
  --error-color: #ff7878;
  --button-error-color: #B6465F;
  --hover-button: #19547B;
}

:root.dark-mode {
  --background-color: #373250;
  --text-color: #dedede;
  --button-text-color: #ffffff;
  --accent-primary-color: #176087;
  --accent-secondary-color: #176087;
  --hover-link-text:  #E3FFFA;
  --hover-text:  #E3FFFA;
  --disabled-color: #80808033;
  --shadow-color: #393939;
  --border-color: #282828;
  --panel-background-color: #47425e;
  --error-color: #ff7878;
  --button-error-color: #B6465F;
  --hover-button: #19547B;
  
}

html {
  font-size: 16px;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  height: 100vh;
  height: 100dvh;
}

a {
  text-decoration: underline;
  cursor: pointer;
  color: var(--text-color);
  transition: color 0.5s;

  &:hover {
    color: var(--accent-primary-color);
  }
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: var(--font-large);
}

h2,
h3,
h4 {
  font-size: var(--font-medium);
}

input[type=text],
input[type=password],
input[type=email],
input[type=number],
input[type=checkbox],
input[type=url],
textarea,
select {
  color: var(--text-color);
  padding: 0.2rem 0.6rem;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
  transition: all 0.1s;
  font-size: var(--font-medium);
  font-family: var(--font-family);

  &:hover,
  &:focus {
    border-color: var(--accent-primary-color);
    box-shadow: 0 0 5px var(--accent-primary-color);
    outline: none;
  }
}

input:disabled,
input:read-only {
  background-color: var(--disabled-color);
}

input[type=submit],
input[type=file],
button {
  color: var(--button-text-color);
  background-color: var(--accent-primary-color);
  padding: 1rem 1.5rem;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  transition: all 0.1s;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-family: var(--font-family);
  font-weight: bold;

  &:hover {
    background-color: var(--hover-button);
    border-color: transparent;
    color: var(--hover-text);
    box-shadow: 0 0 5px var(--hover-button);
  }

  &:active {
    color: var(--text-color);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--disabled-color);
  }

  &.negative {
    border-color: var(--error-color);
    background-color: var(--button-error-color);
    color: var(--button-text-color);

    &:hover {
      box-shadow: 0 0 5px var(--error-color);
      color: var(--hover-text);
    }
  }

  &.positive {
    border-color: var(--accent-secondary-color);
    background-color: var(--accent-secondary-color);
    color: var(--button-text-color);

    &:hover {
      box-shadow: 0 0 5px var(--accent-secondary-color);
      color: var(--hover-text);
    }
  }
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.main-panel {
  padding: 2rem;
  min-width: 10rem;
  width: calc(100dvw - 6rem);
  max-width: 30rem;
}

body, #app {
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  height: 100vh; /* Full viewport height */
}

@media screen and (orientation: landscape) {
  body, #app {
    height: 100vh; /* Ensure the container spans the full height of the viewport */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 5px; /* Add padding for smaller screens */
    box-sizing: border-box;
  }

  .main-panel {
    max-height: 90vh; /* Limit the height of main content to fit within the viewport */
    overflow-y: auto; /* Add scroll for the panel itself, if necessary */
  }
}

@media screen and (max-height: 400px) and (orientation: landscape) {
  .aire-logo-container {
    display: none; /* Hide logo for better usability */
  }

  .main-panel {
    margin: 0;
    padding: 5px; /* Reduce padding for better spacing */
  }

  form {
    font-size: var(--font-small);
  }
  
  input[type=submit],
  input[type=file],
  button {
    padding: 0.3rem
  }

  h1{
    font-size: var(--font-medium);
  }
}